.button {
    -fx-font-family: "Roboto Light";
    -fx-background-color: #6200EE;
    -fx-border-radius: 50px;
    -fx-text-fill: #FFFFFF;
    -fx
}

.button:hover{
    -fx-background-color: #8942ef;
}